/* src/App.css */
.App-header {
  background: #5da2e2;
  color: white;
  padding: 0 20px;
}
.App-sidebar {
  background: #f0f2f5;
}
:where(.css-dev-only-do-not-override-1wwf28x).ant-layout.ant-layout-has-sider > .ant-layout,
:where(.css-dev-only-do-not-override-1wwf28x).ant-layout.ant-layout-has-sider > .ant-layout-content {
    width: 100% !important;  /* Ensure width is not 0px */
}
